/* :root {

} */

.newHabitForm-categoryEvaluation,
.newHabitForm-numericDetails,
.newHabitForm-habitFrequency,
.newHabitForm-days,
.newHabitForm-sometimes,
.newHabitForm-repeat {
    display: none;
}

.d-inlineBlock {
    display: inline-block;
}

.d-block {
    display: block;
}

/* .closeModal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
} */

/* .close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} */

.red {
    background-color: firebrick;
}