/* :root {

} */

ul {
    list-style: none;
}

.newHabitForm-categoryEvaluation,
.newHabitForm-numericDetails,
.newHabitForm-habitFrequency,
.newHabitForm-days,
.newHabitForm-sometimes,
.newHabitForm-repeat {
    display: none;
}

.d-inlineBlock {
    display: inline-block;
}

.d-block {
    display: block;
}

.red {
    background-color: firebrick;
}