/* :root {

} */

ul {
    list-style: none;
}

.label {
    display: block;
}

/* .form {

} */

/* .input {

} */

/* .input--textArea {

} */

/* .paragraph {

} */

/* .btn {

} */

/* .btn--main {

} */

.mainContainer,
.frequencyContainer__numeric,
.frequencyContainer__details {
    display: none;
}

.d-inlineBlock {
    display: inline-block;
}

.d-block {
    display: block;
}

.red {
    background-color: firebrick;
}